* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 70px;
  text-decoration: underline #1c8076;
  box-shadow: 0px 0px 20px 20px white;
}
#container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin-top: 60px;
  margin-left: 450px;
  background-color: black;
  border-radius: 100%;
  font-size: 30px;
  color: #ffffff;
  box-shadow: 10px 10px 10px 0px #abf607, 0px 10px 10px 10px #45178f,
  0px 10px 10px 10px rgb(98, 83, 83);
  filter: brightness(120%);
}
button {
  position: absolute;
  top: 120px;
  left: 400px;
  background-color: black;
  height: 100px;
  width: 130px;
  font-size: 20px;
  border: 2px solid #1c8076;
  border-radius: 10px;
  color: #ffffff;
}
#start {
  position: absolute;
  margin-top: 500px;
  left: 250px;
}
#stop {
  position: absolute;
  margin-top: 500px;
  left: 530px;
}
#reset {
  position: absolute;
  margin-top: 500px;
  left: 800px;
}
#start:hover {
  color: #1c8076;
  background-color: white;
}
#stop:hover {
  color: #eaed15;
}
#reset:hover {
  color: #0e9fe3;
}
button:hover {
  box-shadow: 0px 10px 10px 10px #364640, 0px 10px 10px 10px #45178f,
    0px 10px 10px 10px rgb(98, 83, 83);
}
